
@{
    ViewBag.Title = "Login2";
}

<h2>Restaurante</h2>
@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<br />
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="text" class="form-control" id="usuario" placeholder="Ingrese usuario">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Iniciar sesion" />
        <input type="submit" class="btn btn-primary" value="Registrarse" />
    </div>
</form>