@{
    ViewBag.Title = "Seleccion de mesa";
}

<div style="text-align:center" background="https://i.stack.imgur.com/RLQNm.jpg">
    <h1>Seleccion de Mesa</h1>
    <br />
    <h4>Usuario: @Session["Usuario"].ToString() </h4>
    @if (@Session["isActive"].ToString().AsBool())
    {
        <h4>Estado: Activo</h4>
    }
    else
    {
        <h4>Estado: Desactivado</h4>
    }
    <h4>Correo electronico: @Session["Email"].ToString()</h4>
</div>
    <div class="navbar-collapse collapse">
        @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Cerrar sesion" class="btn btn-primary" />
        }
    </div>
